# sftp configuration file
sftp-config.json

# Basics
*.py[cod]
__pycache__

# Logs
*.log
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
htmlcov

# Translations
*.mo
*.pot

# Pycharm
.idea/*


# Vim

*~
*.swp
*.swo

# npm
node_modules/

# Compass
.sass-cache

# virtual environments
.env

# User-uploaded media
react_webpack/media/

# Hitch directory
tests/.hitch


# Webpack
react_webpack/static/react_webpack/dist/
webpack-stats.json
webpack-stats-production.json
*.sqllite3


assets/bundles/
